*-lock.json
npm-shrinkwrap.json
gulpfile.js
node_modules
orbitdb
ipfs
cache
coverage

# Don't track builds in git
# Distribution builds are available via npm
dist/

# Don't track Visual Studio Code settings
.vscode